.navbar {
  background: linear-gradient(to bottom, #d8782e 0%, #b26127 37%, #88441d 88%, #88441d 100%);
  border-bottom: 1px solid #6d381a;
}

.navbar--container {
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar--logo {
  text-shadow: 2px 2px 2px #291202;
  color: #ffffff;
  flex-grow: 10;
  font-family: Goldman, monospace;
}

.navbar--button {
  font-size: 14px;
  margin: 3px 3px;
}

.number {
  background: linear-gradient(to bottom, #846c50 0%, #b79c7c 29%, #b79c7c 70%, #fee7cd 100%);
  border-image-source: linear-gradient(to bottom, #bdb0a6 0%, #230906 100%);
  border-image-slice: 1;
  border-width: 2px;
  font-family: Goldman, monospace;
  outline: none;
  text-align: center;
  user-select: none;
  padding: 0 2px;
}

.number__counter {
  font-size: 28px;
  margin: 1px 3px;
  max-width: 74px;
}

.number__button {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.number__button:active {
  box-shadow: none;
}

@media (orientation: landscape) {
  .number__counter {
    font-size: 23px;
    max-width: 56px;
  }
}
.resource--container {
  align-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.resource {
  flex-basis: 14.2857142857%;
}

.resource--item {
  flex-basis: 33.333333%;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  height: 100%;
  width: 100%;
}

.resource--item__outline {
  border-color: #ffffff !important;
  border-radius: 10px;
  box-shadow: inset 0 0 25px #ffffff;
}

.resource--item__production {
  padding: 4px;
}

.resource--icon {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90%;
  margin: 0 auto;
  width: 90%;
}

.resource--buttons {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}

.resource--production-bg {
  border-image-source: linear-gradient(to top, #bdb0a6 0%, #483f3e 100%);
  border-image-slice: 1;
  border-style: inset;
  border-width: 2px;
  border-collapse: collapse;
  background: linear-gradient(135deg, #7f4623 0%, #935e2c 100%);
  height: 100%;
  padding: 1px;
  width: 100%;
}

.resource--production {
  background-repeat: repeat;
  background-size: 100px 100px;
  height: 100%;
}

.resource--production-box {
  background-size: 58px 51px;
  padding: 6px 3px;
}

@media (orientation: landscape) {
  .resource--container {
    flex-direction: column;
  }
}
.resources {
  height: 100%;
}

.resources--wrapper {
  background-color: rgba(255, 149, 30, 0.44);
  height: 100%;
  padding: 10px;
}

.resources--container {
  display: flex;
  height: 100%;
}

@media (orientation: portrait) {
  .resources--container {
    flex-direction: column;
  }
}
@media (orientation: landscape) {
  .resources--container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.toolbar {
  background: linear-gradient(to bottom, #d8782e 0%, #b26127 37%, #88441d 88%, #88441d 100%);
  border-top: 1px solid #ff9440;
  width: 100%;
}

.toolbar--container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}

.toolbar--buttons-group {
  display: flex;
}

.toolbar--buttons {
  display: flex;
}

.toolbar--button {
  font-size: 20px;
}

.toolbar--button__produce {
  padding: 0 8px;
}

.toolbar--button__modifier {
  min-width: 44px;
  margin: 8px 4px;
}

@media (orientation: landscape) {
  .toolbar--buttons__minus {
    order: 1;
  }

  .toolbar--buttons__plus {
    order: 2;
  }

  .toolbar--container {
    justify-content: center;
  }

  .toolbar--buttons__center {
    position: absolute;
  }

  .toolbar--buttons-group {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
@media (orientation: portrait) {
  .toolbar--buttons-group {
    flex-direction: column;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bg__production {
  background-image: url("data:image/svg+xml,%3csvg width='100' height='100' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3clinearGradient id='a'%3e%3cstop offset='0' stop-color='%237f4623'/%3e%3cstop offset='1' stop-color='%23935e2c'/%3e%3c/linearGradient%3e%3clinearGradient xlink:href='%23a' id='b' x1='74.153' y1='72.233' x2='30.951' y2='31.127' gradientUnits='userSpaceOnUse'/%3e%3cpattern id='c' x='0' y='0' width='20' height='20' viewBox='0 0 100 100' patternUnits='userSpaceOnUse'%3e%3cpath d='M5.015 35.491c28.468 12.137 49.012 33.271 62.607 59.92C86.55 88.74 91.072 82.333 95.63 64.87 70.423 52.52 47.9 33.298 33.003 5.609 17.573 9.683 8.672 20.057 5.015 35.49z' fill='url(%23b)' stroke='black' stroke-width='0'/%3e%3c/pattern%3e%3c/defs%3e%3crect width='100%25' height='100%25' fill='url(%23c)'/%3e%3c/svg%3e");
}

.bg__points {
  background-image: url(./i/tp.99faee.png);
}

.bg__main-background {
  background-position: center center;
  background-size: cover;
}

@media (orientation: portrait) {
  .bg__main-background {
    background-image: url(./i/bg-portrait.dae361.jpg);
  }
}
@media (orientation: landscape) {
  .bg__main-background {
    background-image: url(./i/bg-landscape.537db6.jpg);
  }
}
.bg__gold {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100'%3e%3cdefs%3e%3cradialGradient xlink:href='%23b' id='f' cx='18.736' cy='48.591' fx='18.736' fy='48.591' r='24.796' gradientTransform='matrix(2 0 0 2 -204.922 -20.077)' gradientUnits='userSpaceOnUse'/%3e%3cradialGradient xlink:href='%23b' id='h' cx='18.58' cy='35.673' fx='18.58' fy='35.673' r='11.153' gradientTransform='matrix(2.03772 0 0 1.32305 -205.596 -9.117)' gradientUnits='userSpaceOnUse'/%3e%3cradialGradient xlink:href='%23b' id='i' cx='18.58' cy='35.673' fx='18.58' fy='35.673' r='11.153' gradientTransform='matrix(2.03772 0 0 -1.32305 -205.596 163.403)' gradientUnits='userSpaceOnUse'/%3e%3cradialGradient xlink:href='%23b' id='j' cx='18.58' cy='35.673' fx='18.58' fy='35.673' r='11.153' gradientTransform='matrix(0 -2.03772 1.32305 0 -253.891 115.253)' gradientUnits='userSpaceOnUse'/%3e%3cradialGradient xlink:href='%23b' id='k' cx='18.58' cy='35.673' fx='18.58' fy='35.673' r='11.153' gradientTransform='matrix(0 -2.03772 -1.32305 0 -80.728 115.253)' gradientUnits='userSpaceOnUse'/%3e%3cradialGradient xlink:href='%23d' id='l' gradientUnits='userSpaceOnUse' gradientTransform='matrix(1.45795 -.52246 .68448 1.91008 -226.906 -6.79)' cx='18.375' cy='50.517' fx='18.375' fy='50.517' r='11.462'/%3e%3clinearGradient xlink:href='%23a' id='e' x1='68.3' y1='260.143' x2='68.3' y2='234.702' gradientUnits='userSpaceOnUse' gradientTransform='matrix(.52917 0 0 .52917 -204.922 -20.218)'/%3e%3clinearGradient id='a'%3e%3cstop offset='0' stop-color='%238a130d'/%3e%3cstop offset='1' stop-color='%238a130d' stop-opacity='0'/%3e%3c/linearGradient%3e%3clinearGradient id='b'%3e%3cstop offset='0' stop-color='%23fee800'/%3e%3cstop offset='1' stop-color='%23fecf00'/%3e%3c/linearGradient%3e%3clinearGradient xlink:href='%23c' id='g' x1='68.512' y1='77.946' x2='69.042' y2='169.64' gradientUnits='userSpaceOnUse' gradientTransform='matrix(.52917 0 0 .52917 -204.922 -20.218)'/%3e%3clinearGradient id='c'%3e%3cstop offset='0' stop-color='white'/%3e%3cstop offset='1' stop-color='white' stop-opacity='0'/%3e%3c/linearGradient%3e%3clinearGradient id='d'%3e%3cstop offset='0' stop-color='%23ffef00'/%3e%3cstop offset='1' stop-color='%23f8ae01'/%3e%3c/linearGradient%3e%3c/defs%3e%3cg stroke-width='1.135'%3e%3cpath d='M98.5 16.014L83.986 1.5h-68.51L1.5 15.475v68.298L16.227 98.5h67.008L98.5 83.235z' fill='%23fdec00' paint-order='fill markers stroke'/%3e%3cpath d='M-222.494 110.727v4.568l16.714 16.713h76.05l17.324-17.324v-3.957z' fill='url(%23e)' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-204.318 27.514l-12.724 12.724V53.04h5.006a7.835 7.835 0 017.853 7.853v32.535a7.836 7.836 0 01-7.853 7.853h-5.006v13.245l12.173 12.173h13.351v-5.005a7.836 7.836 0 017.854-7.853h32.535a7.835 7.835 0 017.852 7.853v5.005h12.477l12.942-12.942v-12.582h-5.005a7.836 7.836 0 01-7.853-7.854V60.786a7.835 7.835 0 017.853-7.853h5.005V41.007l-13.493-13.493h-12.031v5.006a7.835 7.835 0 01-7.853 7.852h-32.534a7.836 7.836 0 01-7.854-7.852v-5.006z' fill='url(%23f)' stroke='white' stroke-width='2.724' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M13.995 8.33l-7.146 7.145h2.99l7.143-7.146zm13.649 0v2.386c0 1.786.596 3.43 1.589 4.76h2.949a5.826 5.826 0 01-2.425-4.76V8.329zm42.503 0v2.386c0 1.975-.953 3.7-2.425 4.76h2.951a7.923 7.923 0 001.59-4.76V8.329zm12.19 0l7.145 7.145h2.992L85.327 8.33zM5.246 20.685v9.168h5.466a5.825 5.825 0 015.862 5.86v28.668a5.825 5.825 0 01-5.862 5.861h5.395a7.95 7.95 0 002.583-5.861V35.715c0-4.401-3.577-7.979-7.978-7.979H7.36v-7.05zm87.392 0v6.957h-3.355c-4.401 0-7.975 3.578-7.975 7.979v28.667a7.948 7.948 0 002.685 5.954h10.759v-.093h-5.47a5.824 5.824 0 01-5.86-5.86V35.621a5.825 5.825 0 015.86-5.862h5.47v-9.074zM5.247 72.658v10.75l11.345 11.345h13.257v-5.466a5.825 5.825 0 015.862-5.861H64.38a5.824 5.824 0 015.86 5.86v5.467H82.73L94.753 82.73V72.658h-2.114v9.198L81.853 92.64h-9.497v-3.353c0-4.401-3.576-7.979-7.977-7.979H35.71c-4.4 0-7.974 3.578-7.974 7.979v3.353h-10.27L7.36 82.534v-9.876z' style='line-height:normal%3bfont-variant-ligatures:normal%3bfont-variant-position:normal%3bfont-variant-caps:normal%3bfont-variant-numeric:normal%3bfont-variant-alternates:normal%3bfont-feature-settings:normal%3btext-indent:0%3btext-align:start%3btext-decoration-line:none%3btext-decoration-style:solid%3btext-decoration-color:black%3btext-transform:none%3btext-orientation:mixed%3bwhite-space:normal%3bshape-padding:0%3bisolation:auto%3bmix-blend-mode:normal%3bsolid-color:black%3bsolid-opacity:1' color='black' font-weight='400' font-family='sans-serif' overflow='visible' fill='%23fbeb02' paint-order='fill markers stroke'/%3e%3cpath d='M-218.243 51.828v2.552h6.207a6.61 6.61 0 016.653 6.652v21.174h2.398V61.032c0-4.995-4.056-9.055-9.05-9.055h-3.805v-.149zm99.183 0v.044h-3.804c-4.995 0-9.055 4.06-9.055 9.055v21.279h2.403v-21.28a6.614 6.614 0 016.652-6.655h6.207v-2.443zm-99.183 51.132v12.201l12.876 12.875h15.05v-6.204a6.611 6.611 0 016.653-6.651h32.534a6.61 6.61 0 016.653 6.651v6.204h14.172l13.648-13.645v-11.43h-2.403v10.438l-12.238 12.239h-10.78v-3.806c0-4.994-4.057-9.054-9.052-9.054h-32.534c-4.995 0-9.055 4.06-9.055 9.054v3.806h-11.653l-11.468-11.47V102.96z' style='line-height:normal%3bfont-variant-ligatures:normal%3bfont-variant-position:normal%3bfont-variant-caps:normal%3bfont-variant-numeric:normal%3bfont-variant-alternates:normal%3bfont-feature-settings:normal%3btext-indent:0%3btext-align:start%3btext-decoration-line:none%3btext-decoration-style:solid%3btext-decoration-color:black%3btext-transform:none%3btext-orientation:mixed%3bwhite-space:normal%3bshape-padding:0%3bisolation:auto%3bmix-blend-mode:normal%3bsolid-color:black%3bsolid-opacity:1' color='black' font-weight='400' font-family='sans-serif' overflow='visible' fill='%2387150a' stroke='%2387150a' stroke-width='.454' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-206.634 21.92l-4.385 4.386h86.526l-4.385-4.385z' fill='url(%23g)' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-112.406 38.392l-16.472-16.471h-77.755l-15.86 15.86v77.514l16.713 16.713h76.05l17.324-17.324z' fill='none' stroke='black' stroke-width='3.405' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-144.724 33.196c0 3.3-2.83 5.957-6.345 5.957h-32.76c-3.516 0-6.347-2.657-6.347-5.957v-6.384h45.452z' fill='url(%23h)' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-144.724 121.09c0-3.3-2.83-5.956-6.345-5.956h-32.76c-3.516 0-6.347 2.656-6.347 5.957v6.384h45.452z' fill='url(%23i)' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-211.579 54.38c3.3 0 5.958 2.83 5.958 6.346v32.76c0 3.515-2.657 6.346-5.958 6.346h-6.384V54.38z' fill='url(%23j)' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-123.04 54.38c-3.3 0-5.958 2.83-5.958 6.346v32.76c0 3.515 2.657 6.346 5.958 6.346h6.383V54.38z' fill='url(%23k)' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-164.904 48.152c-3.06-.016-6.12.373-8.798 1.28-9.026 3.974-12.607 10.3-14.619 18.991-.046.199-.08.438-.118.665h-2.16v4.083h1.802c-.002.157-.002.664.004 1.424-.006.76-.006 1.268-.004 1.425h-1.802v4.082h2.16c.038.228.072.467.118.665-.613 7.484 4.859 16.99 13.195 20.417 9.08 3.732 23.469.875 28.479-7.502l-8.45-12.06s-4.644 6.125-7.118 7.027c-6.785 1.277-9.86-3.226-11.412-8.547h8.09V76.02h-8.167a28.721 28.721 0 01-.05-1.4l-.002-.025.001-.024c.004-.455.023-.923.05-1.4h8.167v-4.083h-7.076c1.552-5.32 5.513-7.734 12.297-6.458 2.475.902 6.17 4.274 6.17 4.274l5.411-13.96c-2.693-2.762-9.433-4.758-16.168-4.792z' fill='url(%23l)' fill-rule='evenodd' stroke='%23e16503' stroke-width='1.963' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3c/g%3e%3c/svg%3e");
}

.bg__steel {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3e%3cg stroke-width='1.135'%3e%3cpath d='M-220.478 23.936h106.056v106.057h-106.056z' fill='%23aa794e' stroke='%2392572b' stroke-width='2.182' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-218.414 26h101.928v101.928h-101.928z' fill='%23aa794e' stroke='%23996841' stroke-width='2.182' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-193.5 44.935l-8.76 5.234v12.057l8.446 4.443-1.72 42.359h10.009l-1.72-42.359 8.444-4.443V50.17l-8.757-5.234v12.69h-5.943zM-173.141 52.16v11.264h7.976a6.424 6.424 0 001.33-3.015h1.016c.12.783.114 1.241.625 3.015h5.943l-1.564 45.848h9.54l-1.25-45.848h3.753s-.415-2.16 0-3.015c.755-1.556 2.626-3.648 5.061-3.621 4.902.768 7.253 3.41 8.049 5.262.32-6.664-2.769-8.85-8.731-9.89h-20.253c-.472 1.163-.954 2.327-1.017 3.49h-1.173c-.164-1.163-.406-2.327-1.798-3.49z' fill='%23513726' fill-rule='evenodd' stroke='%2392572b' stroke-width='2.182' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cg stroke-width='.468' fill='%23513726' fill-rule='evenodd' stroke='black'%3e%3cpath d='M159.78 29.503l-3.927 2.313v5.329l3.786 1.964-.77 18.721h4.487l-.771-18.721 3.786-1.964v-5.329l-3.927-2.313v5.609h-2.664zM168.908 32.696v4.978h3.576a2.82 2.82 0 00.596-1.332h.456c.054.346.05.548.28 1.332h2.665l-.701 20.264h4.277l-.561-20.264h1.683s-.186-.955 0-1.332c2.024-3.16 5.239-.74 5.878.725.143-2.945-1.242-3.911-3.915-4.371h-9.08c-.212.514-.428 1.028-.456 1.542h-.526c-.074-.514-.182-1.028-.806-1.542z' transform='matrix(1.96528 0 0 1.9936 -286.966 -37.038)'/%3e%3c/g%3e%3cpath d='M-222.5 21.914h110.1v110.1h-110.1z' fill='none' stroke='black' stroke-width='3.392' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M2.695 2.896v43.67c30.699 6.027 62.22 5.777 94.464 0V2.897z' opacity='.1' fill='white' fill-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e");
}

.bg__titan {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100'%3e%3cdefs%3e%3cradialGradient xlink:href='%23a' id='b' cx='171.675' cy='43.659' fx='171.675' fy='43.659' r='23.332' gradientTransform='matrix(2.23044 0 0 2.23109 -550.36 -20.442)' gradientUnits='userSpaceOnUse'/%3e%3clinearGradient id='a'%3e%3cstop offset='0' stop-color='%23363634'/%3e%3cstop offset='1' stop-color='%23181818'/%3e%3c/linearGradient%3e%3c/defs%3e%3cg stroke-width='1.135'%3e%3cpath d='M-220.478 23.936h106.056v106.057h-106.056z' fill='%23aa794e' stroke='%23333' stroke-width='2.182' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-218.414 26h101.928v101.928h-101.928z' fill='url(%23b)' stroke='%23666' stroke-width='2.182' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-166.72 38.51l-12.318 23.72-26.234 3.146 18.416 19.224-5.158 26.297 23.702-11.838 23.04 13.108-3.767-26.543 19.401-18.194-26.03-4.564zm-.377 14.39l7.11 15.673 16.753 2.935-12.487 11.713 2.426 17.079-14.83-8.435-1.48.737-13.772 6.879 3.322-16.921-11.852-12.37 16.882-2.025z' style='line-height:normal%3bfont-variant-ligatures:normal%3bfont-variant-position:normal%3bfont-variant-caps:normal%3bfont-variant-numeric:normal%3bfont-variant-alternates:normal%3bfont-feature-settings:normal%3btext-indent:0%3btext-align:start%3btext-decoration-line:none%3btext-decoration-style:solid%3btext-decoration-color:black%3btext-transform:none%3btext-orientation:mixed%3bwhite-space:normal%3bshape-padding:0%3bisolation:auto%3bmix-blend-mode:normal%3bsolid-color:black%3bsolid-opacity:1' color='black' font-weight='400' font-family='sans-serif' overflow='visible' fill='%23ffec02' stroke='%23333' stroke-width='2.148' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath style='line-height:normal%3bfont-variant-ligatures:normal%3bfont-variant-position:normal%3bfont-variant-caps:normal%3bfont-variant-numeric:normal%3bfont-variant-alternates:normal%3bfont-feature-settings:normal%3btext-indent:0%3btext-align:start%3btext-decoration-line:none%3btext-decoration-style:solid%3btext-decoration-color:black%3btext-transform:none%3btext-orientation:mixed%3bwhite-space:normal%3bshape-padding:0%3bisolation:auto%3bmix-blend-mode:normal%3bsolid-color:black%3bsolid-opacity:1' d='M-166.72 38.51l-12.318 23.72-26.234 3.147 18.416 19.223-5.158 26.297 23.702-11.838 23.04 13.108-3.767-26.543 19.401-18.194-26.03-4.564zm-.377 14.39l7.11 15.673 16.753 2.935-12.487 11.713 2.425 17.079-14.829-8.435-1.48.737-13.772 6.879 3.322-16.921-11.852-12.37 16.882-2.025z' color='black' font-weight='400' font-family='sans-serif' overflow='visible' fill='%23ffec02' stroke='%23e8a42e' stroke-width='.565' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M2.442 2.046v41.376c30.91 5.71 62.65 5.472 95.116 0V2.046z' opacity='.28' fill='white' fill-rule='evenodd'/%3e%3cpath d='M-222.5 21.914h110.1v110.1h-110.1z' fill='none' stroke='black' stroke-width='3.392' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3c/g%3e%3c/svg%3e");
}

.bg__plant {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100'%3e%3cdefs%3e%3cradialGradient xlink:href='%23a' id='b' gradientUnits='userSpaceOnUse' gradientTransform='matrix(-.00774 2.1444 -1.9672 -.0073 -77.41 -547.629)' cx='291.419' cy='44.62' fx='291.419' fy='44.62' r='23.9'/%3e%3clinearGradient id='a'%3e%3cstop offset='0' stop-color='%2376bc38'/%3e%3cstop offset='1' stop-color='%23439f21'/%3e%3c/linearGradient%3e%3c/defs%3e%3cg stroke-width='1.135'%3e%3cpath d='M-220.476 23.937h106.069v106.055h-106.07z' fill='%23131111' stroke='%235eb134' stroke-width='2.263' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-218.412 26.002h101.94v101.925h-101.94z' fill='url(%23b)' stroke='%2399c33b' stroke-width='2.942' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-204.267 93.502s5.63 2.169 8.351 1.411c2.676-.745 6.363-5.445 6.363-5.445v-2.017c-1.972-6.623-2.394-10.431-.397-16.133 1.996-5.703 6.843-12.654 12.924-15.328 15.288-6.72 30.344-4.415 45.933.202 0 0-4.456 5.28-6.164 8.269-2.964 5.185-4.847 10.94-6.96 16.537-2.556 8.793-3.396 12.751-11.93 16.739-8.216 3.27-17.784 3.083-25.452-.605-1.656-.797-3.58-4.235-3.58-4.235s-4.807 5.773-7.953 7.663c-2.904 1.72-6.415 2.335-8.749-.202-1.6-1.8-2.386-6.856-2.386-6.856z' fill='%23006835' fill-rule='evenodd' stroke='%2399c33b' stroke-width='2.636' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-204.267 93.502s5.63 2.169 8.351 1.411c2.676-.745 6.363-5.445 6.363-5.445v-2.017c-1.972-6.623-2.394-10.431-.397-16.133 1.996-5.703 6.843-12.654 12.924-15.328 15.288-6.72 30.344-4.415 45.933.202 0 0-4.456 5.28-6.164 8.269-2.964 5.185-4.847 10.94-6.96 16.537-2.556 8.793-3.396 12.751-11.93 16.739-8.216 3.27-17.784 3.083-25.452-.605-1.656-.797-3.58-4.235-3.58-4.235s-4.807 5.773-7.953 7.663c-2.904 1.72-6.415 2.335-8.749-.202-1.6-1.8-2.386-6.856-2.386-6.856z' fill='%2300672e' fill-rule='evenodd' stroke='%23113f25' stroke-width='1.279' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M1.602 2.667V47.29c31.536 6.158 63.917 5.902 97.04 0V2.667z' opacity='.211' fill='%23d5e8b9' fill-rule='evenodd'/%3e%3cpath d='M-222.499 21.915h110.114v110.098H-222.5z' fill='none' stroke='%23121211' stroke-width='3.395' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3c/g%3e%3c/svg%3e");
}

.bg__energy {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100'%3e%3cdefs%3e%3cradialGradient xlink:href='%23a' id='b' cx='41.639' cy='251.564' fx='41.639' fy='251.564' r='26.068' gradientTransform='matrix(2.00525 0 0 2.00567 -250.938 -427.589)' gradientUnits='userSpaceOnUse'/%3e%3clinearGradient id='a'%3e%3cstop offset='0' stop-color='%23931880'/%3e%3cstop offset='1' stop-color='%23801893'/%3e%3c/linearGradient%3e%3c/defs%3e%3cg stroke-width='1.135'%3e%3cpath d='M-220.476 23.937h106.069v106.055h-106.07z' fill='%23131111' stroke='%23762c83' stroke-width='2.263' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-218.412 26.002h101.94v101.925h-101.94z' fill='url(%23b)' stroke='%23874997' stroke-width='2.942' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-189.81 109.997l19.486-28.235-10.14-16.133 35.393-22.386-19.884 28.234 10.34 16.739z' fill='white' fill-rule='evenodd' stroke='%23874997' stroke-width='2.184' stroke-linecap='round' stroke-linejoin='round' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-189.81 109.997l19.486-28.235-10.14-16.133 35.393-22.386-19.884 28.234 10.34 16.739z' fill='white' fill-rule='evenodd' stroke='%234d594d' stroke-width='.826' stroke-linecap='round' stroke-linejoin='round' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M1.602 2.667V47.29c31.536 6.158 63.917 5.902 97.04 0V2.667z' opacity='.211' fill='%23d173c1' fill-rule='evenodd'/%3e%3cpath d='M-222.499 21.915h110.114v110.098H-222.5z' fill='none' stroke='%23121211' stroke-width='3.395' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3c/g%3e%3c/svg%3e");
}

.bg__heat {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3e%3cg stroke-width='1.135'%3e%3cpath d='M-220.476 23.937h106.069v106.055h-106.07z' fill='%23e74517' stroke='%23e42314' stroke-width='2.263' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M-218.412 26.002h101.94v101.925h-101.94z' fill='%23e74517' stroke='%23ec5c2d' stroke-width='2.942' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3cpath d='M1.601 2.667V47.29c31.537 6.158 63.917 5.902 97.041 0V2.667z' opacity='.211' fill='%23ffcba7' fill-rule='evenodd'/%3e%3cg fill='%23fce72c' fill-rule='evenodd' stroke='%23ec5c2d' stroke-width='1.569' stroke-linejoin='round'%3e%3cpath d='M233.474 269.124l-.779-18.066-5.826-3.737 5.241-22.074.512 19.164 5.747 3.64zM246.914 269.124l-.78-18.066-5.826-3.737 5.241-22.074.512 19.164 5.748 3.64zM260.353 269.124l-.78-18.066-5.825-3.737 5.24-22.074.512 19.164 5.748 3.64z' transform='matrix(1.76686 0 0 1.792 -384.743 -394.907)'/%3e%3c/g%3e%3cg fill='%23fce72c' fill-rule='evenodd' stroke='%23b4150f' stroke-width='.521'%3e%3cpath d='M233.474 269.124l-.779-18.066-5.826-3.737 5.241-22.074.512 19.164 5.747 3.64zM246.914 269.124l-.78-18.066-5.826-3.737 5.241-22.074.512 19.164 5.748 3.64zM260.353 269.124l-.78-18.066-5.825-3.737 5.24-22.074.512 19.164 5.748 3.64z' transform='matrix(1.76686 0 0 1.792 -384.743 -394.907)'/%3e%3c/g%3e%3cpath d='M-222.499 21.915h110.114v110.098H-222.5z' fill='none' stroke='%23121211' stroke-width='3.395' paint-order='fill markers stroke' transform='matrix(.88112 0 0 .88112 197.543 -17.815)'/%3e%3c/g%3e%3c/svg%3e");
}
